<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.cxifri">

    <!-- define a permission -->
    <permission
        android:name="net.cxifri.INTERNAL_ACTIVITY"
        android:protectionLevel="signature" />

    <uses-permission android:name="net.cxifri.INTERNAL_ACTIVITY" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- for QR-code based key sharing -->
    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- https://cxifri.net/ URL handler -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cxifri.net"
                    android:scheme="https" />
            </intent-filter>

            <!-- "share to" text handled -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- Text selection contextual menu handler -->
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TextViewActivity"
            android:parentActivityName=".ui.MainActivity"
            android:permission="net.cxifri.INTERNAL_ACTIVITY"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/encrypted_message"
            android:autoRemoveFromRecents="true"

            tools:targetApi="lollipop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cxifri.ui.MainActivity" />
        </activity>

        <activity
            android:label="@string/manage_keys"
            android:name=".ui.KeysActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cxifri.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.RandomKeyQRCodeShareActivity"
            android:label="@string/title_activity_random_key_generation"
            android:parentActivityName=".ui.KeysActivity"
            android:permission="net.cxifri.INTERNAL_ACTIVITY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cxifri.ui.KeysActivity" />
        </activity>
        <activity
            android:name=".ui.RandomKeyQRCodeScanActivity"
            android:label="@string/title_activity_random_key_scan"
            android:parentActivityName=".ui.KeysActivity"
            android:permission="net.cxifri.INTERNAL_ACTIVITY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cxifri.ui.KeysActivity" />
        </activity>
    </application>

</manifest>